Repository voxpupuli/puppet-prometheus_reporter, pull requests merged in 2018-03, with the labels that each got.

#22 Change epochtime to seconds, add HELP/TYPE info
  lib/puppet/reports/prometheus.rb
Labels: needs-tests

#24 modulesync 1.9.0
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  spec/acceptance/nodesets/docker/ubuntu-16.04.yml
Labels: modulesync

#21 don't add .prom if report_filename is set.
  lib/puppet/reports/prometheus.rb
Labels: bug

#26 release 0.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
